.tabs {
    background-color: rgb(31, 30, 30);
    border-bottom: 4px solid rgb(117, 117, 117);
    .tabs-container {
        width: 75%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        min-height: 25vh;
        justify-content: center;
        align-items: center;
        .tab {
            margin-top: 2rem;
            color: grey;
            transition: all 0.3s ease;
            cursor: pointer;

            i {
                font-size: 3.2rem;
                margin: 1rem 0;
            }
            p {
                font-size: 1.2rem;
                margin: 1rem 0;
            }
            &:hover {
                color: white;
            }
        }
    }
}

.tabs {
    .tabs-container {
        .show {
            border-bottom: 4px solid var(--primary-color);
        }
    }
}
